* CSS Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, li, fieldset, form, label { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ol, ul { list-style: none; }
:focus { outline: 0; }

/* General */

@font-face { font-family: 'DejaVuSansCondensedBook'; src:  url('DejaVuSansCondensed-webfont.ttf') format('truetype'); }
body {background-image: url(assets/images/foto3.jpg);
    background-size: cover;
    font-family: Raleway,Open Sans,Droid Sans,arial,sans-serif;
	display: block;
    margin: 8px; }
a { text-decoration: none; } 


.biografi{width: 600px; height: 300px; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; text-align: center; margin: auto; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;}
.biografi h1{font-weight: normal; font-family: Open Sans; font-size: 30px; display: block; color: ghostwhite;}
.biografi h2{font-weight: normal; font-family: Raleway; font-size: 15px;color: ghostwhite;}

.link{text-align:center; display : block; margin-top: 50px;}
a{
	text-decoration:none;
	color: ghostwhite;
}
a:hover{text-decoration:underline }
.fa{margin:0 10px;}